.image-grid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  border-radius: 5px;
  font-family: 'Nunito', sans-serif;
  border-bottom: 3px solid orangered;
  border-top: 3px solid orangered;
  margin-bottom: 50px;
}

.grid-grid-content {
  display: flex;
  padding-right: 30px;
}

.grid-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Occupy the full width */
  padding: 20px;
}

.grid-item p {
  width: 50%;
  font-size: 20px;
}

.grid-item-image {
  height: 60vh;
  width: 45%;
  padding-top: 80px;
  overflow: hidden;
}
