
.header {
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.explore {
  position: absolute;
  right: 220px;
  top: 22px;
  padding-top: 20px;
  margin-right: 20px;
}

.explore-btn {
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-weight: bold;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  
}

.logo img {
  width: 80px;
  height: auto;
  justify-content: center;
}

.logo-content {
  font-size: 25px;
  font-weight: bold;
}

.input-box {
  margin-left: auto; /* Push input box to the right */
}

.search-input {
  width: 200px; /* Set input width */
  padding: 10px; /* Add padding */
  font-size: 16px; /* Set font size */
  border: 2px solid #ddd; /* Add border */
  border-radius: 5px; /* Add border radius */
}
