
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000000;
  color: #fff;
}

.explore {
  margin-right: 20px;
}

.explore-btn {
  padding: 10px 20px;
  background-color: #ff5722;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logo {
  flex: 1; /* Takes up remaining space */
  display: flex;
  justify-content: center; /* Centers the content horizontally */
}

.logo img {
  width: 100px;
  height: auto;
}

h1 {
  margin-left: 0;
}

h1 a{
  text-decoration: none;
  color: #fff;
}
.input-box {
  flex-grow: 1;
  margin-right: auto;
}

.search-input {
  width: 30%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 5px;
}

