/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    background-color: #fbf9f7;
    color: #000000;
    font-family: 'Nunito', sans-serif;
  }
  .navbar-left {
    display: flex;
    padding: 20px;
  
  }
  
  .navbar-left img {
    height: 30px; 
    margin-right: 10px;
  }
  
  .navbar-left a {
    text-decoration: none;
    color: #000000;
  }

  .navbar-left h1 {
    font-size: 26px;
    margin: 0;
    color: #000000;
  }
  
  .navbar-right a {
    color: #000000;
    text-decoration: none;
    margin-left: 10px;
    font-size: 18px;
  }
  .navbar-right a:hover {
    color: orangered;
  }
  